/*Global*/
body {
	margin: auto 0;
	width: 100%;
	font-family: 'Trebuchet MS', 'Century Gothic';
	background-color: #222831;
	background: url(./resources/bg-img.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #EEEEEE;
}

a {
	color: #FD7014;
	text-decoration: none;
}

a:visited {
	color: #B54B04;
}

a:hover {
	color: #FAA369;
	cursor: pointer;
}

.push {
	margin-left: auto;
}

/*Nav*/
nav {
	background-color: #333941;
	height: 50px;
}

nav > ul {
	display: flex;
	margin: 0;
	list-style: none;
	align-items: center;
	padding-inline-start: 0;
}

nav li {
	padding:20px;
	white-space: nowrap;
	font-size: 1rem;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/*Title*/
.title {
	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
	height:30vh;
	white-space: nowrap;
}

img {
	border-radius: 90px;
}

h1 span {
	padding:10px;
	border-radius: 15px;
	background-color: rgba(34, 40, 49, .8);

}

/*Cover Letter*/
.content {
	padding: 20px;
	margin: 10px;
	background-color: rgba(63, 72, 85, .7);
	border-radius: 30px;
}
h2 {
	text-align: center;
}

#welcome {
	margin-bottom: 60vh;
}

/*Footer*/

footer {
	text-align: center;
	background-color: #333941;
	width: 100%;
	height: 55px;
}

footer>ul {
	list-style: none;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

footer li {
	padding:0 10px;
	white-space: nowrap;
	font-size: 1rem;
}

/*Resume*/
/*skills*/
.skills ul {
	list-style: none;
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;
	padding-inline-start: 0px;
}

.skills li {
	border: 2px solid black;
	border-radius: 10px;
	height: 50px;
	margin: 10px;
	padding: 10px 0px;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #222831;
}

.skills li:hover {
	    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*history*/
.title-date {
	display: flex;
	list-style: none;
	justify-content: space-btween;
	padding: 0;
}

.dark-bg {
	background-color: #222831;
	margin-bottom: 10px;
}

/*Constuction Page*/
#construction {
	background: url(./resources/construction-bg.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
}

#construction .title {
			height: 95vh;
			display: grid;
			justify-content: center;
			align-content: center;
}

/*Media Calls*/
@media only screen and (max-width:620px) {
	/*Nav*/
	nav li {
		font-size:.7em;
		padding: 20px 10px;
	}

	/*Title*/
	h1 {
		font-size: 1.5rem;
	}

	/*Footer*/
	footer li {
		font-size:.7em;
		padding: 20px 10px;
	}

	/*Cover Letter*/
	h2 {
		font-size: 1.2rem;
	}
	
	/*Content*/
	.content {
		padding: 5px;	}

	.dark-bg {
		margin: 0;
		margin-bottom: 10px;
		padding-left: 8px;
		padding-right:8px;
	}
	
	.title-date > .push {
		padding-left: 10px;
	}

	/*skills*/
	.skills ul {
		grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
	}

	.skills li {
		white-space: normal;
	}
}
